astropy==7.2.0
dustmaps==1.0.14
extinction==0.4.8
george==0.4.4
lightning==2.6.1
matplotlib==3.10.8
numpy==2.4.3
pandas==3.0.1
polars==1.39.3
redback==1.15.1
rubin-sim==2.6.1
scikit-learn==1.8.0
torch==2.11.0
jupyter